@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300;400&display=swap');

.main-product{
    margin-top: -180px;
    
  }
  h1{
    margin-left: 30px;
    font-size: large;
    margin-bottom: 10px;
    color:#8a181b;
  }
  .amount-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  
  .img-container {
    margin-left: 10px;
    width: 100%;
  }
  .img-container h1{
    text-align: center;
    font-size: 30px;
  }
  
  .dayoldchick,
  .feed {
    width: 100%;
    height: auto;
  }
  p{
    font-family: 'Ubuntu';
  }

  @media only screen and (max-width:820px) {
    .amount-images{
        display: flex;
        flex-direction: column;
    }
    .post{
      width:'50%';
      margin:'0px,0px,-20px';
      padding-left: 10px;
    }
  }