.image-collection{
    display: flex;
    margin-left:50px
}
.image1{
    margin-left:0px;
}
.core-values h1{
  text-align: center;
}
.core-values-title{
  text-align: center;
}
.image3{
  margin-right:25px;
  margin-top: 15px;
  color:#8a181b;
}
.image1,.image2{
    margin-top: 15px;
    margin-right: 25px;
   color: #8a181b;
}
/* CoreValues.css */

/* Add the following CSS rules to your existing file */
.image1 {
    position: relative;
    display: inline-block;
  }
  
  .image1:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image1:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
  }
  /*------------------*/
  .image2 {
    position: relative;
    display: inline-block;
  }
  
  .image2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image2:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
  }

  /*---------------------------------*/

  .image3 {
    position: relative;
    display: inline-block;
  }
  
  .image3:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image3:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
  }
  .core-images{
    height: 300px;
    width: 400px;
    border-radius: 8px;
  }
  h1{
    margin-left: 55px;
    margin-top: 30px;
    font-size: 30px;
  }
  @media only screen and (max-width:820px) {
    .image-collection{
      display: flex;
      flex-direction: column;
    }
    .core-images{
      height: 200px;
      width: 300px;
      border-radius: 8px;
    }
  }