.core-values{

  text-align: center;
  
}
.image-collection{
  justify-content: center;
  align-items: center;
    display: flex;
   
}
.image1{
    
    margin-left:0px;
}


.core-values h1{
 
}
.core-values-title{

}
.image3{
  margin-right:25px;
  margin-top: 15px;
  color:#8a181b;
}
.image1,.image2{
    margin-top: 15px;
    margin-right: 25px;
   color: #8a181b;
}
/* CoreValues.css */

/* Add the following CSS rules to your existing file */
.image1 {
    position: relative;
    display: inline-block;
  }
  
  .image1:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image1:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8a181b; /* Text color */
    font-size: 1.2rem;
    text-align: center;
    z-index: 2;
  }
  /*------------------*/
  .image2 {
    position: relative;
    display: inline-block;
  }
  
  .image2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image2:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8a181b; /* Text color */
    font-size: 1.2rem;
    text-align: center;
    z-index: 2;
  }

  /*---------------------------------*/

  .image3 {
    position: relative;
    display: inline-block;
  }
  
  .image3:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image3:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8a181b; /* Text color */
    font-size: 1.2rem;
    text-align: center;
    z-index: 2;
  }
  .core-images{
    height: 250px;
    width: 350px;
    border-radius: 8px;
  }
  h1{
    margin-left: 55px;
    margin-top: 30px;
    font-size: 30px;
  }
  @media only screen and (max-width:820px) {
    .image1:hover::after {
      content: attr(data-text);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #8a181b; /* Text color */
      font-size: 1.1rem;
      text-align: center;
      z-index: 2;
    }
    .image2:hover::after {
      content: attr(data-text);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #8a181b; /* Text color */
      font-size: 1.1rem;
      text-align: center;
      z-index: 2;
    }
    .image3:hover::after {
      content: attr(data-text);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #8a181b; /* Text color */
      font-size: 1.1rem;
      text-align: center;
      z-index: 2;
    }
    .image-collection{
      display: flex;
      flex-direction: column;
      margin-left:60px
    }
    .core-images{
      height: 185px;
      width: 250px;
      border-radius: 8px;
    }

    


  }
  @media only screen and (max-width:290px) {
    .image-collection{
      display: flex;
      flex-direction: column;
      margin-left:30px
    }
    .core-images{
      height: 160px;
      width: 220px;
      border-radius: 8px;
    }
  }


