.container8 {
  display: flex;

  width: 80%;
  margin-top: 20px;
  text-align: center;
  margin-left: 140px;
  align-items: center;
  justify-content: center;
}
.sasso{
  border: 2px solid #fcd302;
  height: 160px;
  width: 160px;
  margin-bottom: -16px;
  border-radius: 50%;
}
.BrownEgg{
  border: 2px solid #fcd302;
  height: 160px;
  width: 160px;
  margin-bottom: -16px;
  border-radius: 50%;
}
.day-chick-explain{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.Lohmann{
  border: 2px solid #fcd302;
  height: 160px;
  width: 160px;
   margin-top: 45px;
 
  border-radius: 50%;
}
.sasso-title{
  font-size: 18px;
  text-align: center;
}
.Brown-title{
  font-size: 18px;
  text-align: center;
}
.lohmann-title{
  margin-top: 13px;
  font-size: 18px;
  text-align: center;
}
.container8-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.paragraph5{
  flex-basis: 33%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.paragraph6
{
  flex-basis: 33%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.paragraph7 {
  margin-top: -25px;
  flex-basis: 33%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
@media only screen and (max-width:820px) {
  .day-chick-explain{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    margin: 10px;
  }
  .container8{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .paragraph5 h1{
    text-align: center;
  }
  .paragraph6 h1{
   text-align: center;
  }
  .paragraph7 h1{
    text-align: center;
  }
  .paragraph5{
    margin-bottom: 15px;
  }
  .paragraph6{
    margin-bottom: 15px;
  }
  .paragraph7 {
    margin-left: 40px;
  }
}
@media only screen and (max-width:321px){
  .container8{
    
    display: flex;
    flex-direction: column;
  }
  .paragraph5 h1{
    margin-left: -100px;
  }
  .paragraph6 h1{
    margin-left: -20px;
  }
}
@media only screen and (max-width:290px){
  .day-chick-explain{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    padding-left: 1px;
    padding-right: 1px;
    margin: 10px;
  }
  .container8{
    
    display: flex;
    flex-direction: column;
  }
  .paragraph5 h1{
    margin-left: -70px;
  }
  .paragraph6 h1{
    margin-left: -20px;
  }
}
