@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300;400&display=swap');

.Poultry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Set the container height to full viewport height */
}

.Poultry-Feed {
  width: 70%;
  text-align: center;
}

.Poultry-title {
  color: #8a181b;
}

.starter {
  text-align: left;
  font-size: 20px;
}

.grower {
  text-align: left;
  font-size: 20px;
}

.layer {
  text-align: left;
  font-size: 20px;
}

.container {
  display: grid;
  margin-left: 0px;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 0px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.paragraph1,
.paragraph2,
.paragraph3 {
  text-align: left;
  grid-column: span 1;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.paragraph1 h1,
.paragraph2 h1,
.paragraph3 h1 {
  margin-bottom: 10px;
}

.paragraph1 p,
.paragraph2 p,
.paragraph3 p {
  font-family: 'Ubuntu';
  font-weight: lighter;
  font-size: 15px;
}

@media only screen and (max-width: 820px) {
  .container {
    width: 390px;
    display: flex;
    flex-direction: column;
  }

  .paragraph1 h1 {
    margin-left: -5px;
    font-size: 17px;
  }

  .paragraph2 h1 {
    margin-left: -5px;
    font-size: 17px;
  }

  .paragraph3 h1 {
    margin-left: -1px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 360px) {
  .Poultry-container{
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .container {
    margin-left: -25px;
    width: 390px;
    display: flex;
    flex-direction: column;
  }

  .paragraph1 h1 {
    margin-left: -5px;
    font-size: 17px;
  }

  .paragraph2 h1 {
    margin-left: -5px;
    font-size: 17px;
  }

  .paragraph3 h1 {
    margin-left: -1px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 290px) {
  .Poultry-container{
    margin-top: 120px;
    margin-bottom: 80px;
  }
  .container {
    margin-left: -60px;
    width: 360px;
    display: flex;
    flex-direction: column;
  }

  .paragraph1 h1 {
    margin-left: -5px;
    font-size: 17px;
  }

  .paragraph2 h1 {
    margin-left: -5px;
    font-size: 17px;
  }

  .paragraph3 h1 {
    margin-left: -1px;
    font-size: 17px;
  }
}
