@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.Footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a181b;
  padding: 20px;
  margin-top: 160px;
}

.eclogo {
  margin-top: -50px;
  margin-left: 40px;
  height: 120px;
  width: 120px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  
  font-weight: bolder;
  margin-bottom: 10px;

  font-family: 'Ubuntu', ;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  text-decoration: none;
}

li a {
  font-weight: bolder;
  text-decoration: none;
  color: #f4f3ee;
  font-family: 'Ubuntu';
}

a:hover {
  text-decoration: none;
}

.Footer-row .image {
  margin-top: -65px;
}

.Footer-row .quick-links {
  margin-top: -18px;
  margin-left: -200px; 
}

.Footer-row .more-info {
  margin-top: -109px;
  margin-right: 350px;
}