@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@900;800&family=Roboto:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:wght@500;800&family=Roboto:wght@300&family=Ubuntu&display=swap');
.test8{
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.counter-title{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
  
}
.test8{
    margin-top: -85px;
}
.test2b{
    justify-content: center;
    display: flex;
    gap: 130px;
}
.test2a{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:768px) {
    .test8{
        margin-top: 30px;
    }
    .test2b{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        gap: 3px;
   
    }
}
