html, body{
  overflow-x: hidden;
}
.lets-talk-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.lets-talk3 {
  padding-top: 760px;
  overflow: hidden;
  margin-top: -350px;
  margin-bottom: -10px;
  background-image: url('../../images/NewAboutUs.jpg');
  background-position: bottom;
  background-size: 100% 500px; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.contact-button {
  background-color: #8a181b;
  color: #fcd302;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 45px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}
.lets-talk-par{
  font-size: 16px;
  text-align: left;
  padding-left: 46px;
  color:#fff;
}
.lets-talk-title{
  font-size: 42px;
  text-align: left;
  padding-left: 15px;
  color: #fff;
}
.lets-talk-par2{
  margin-top:40px ;
  font-size: 16px;
  padding-left: 50px;
  margin-bottom: -30px;
}
.contact-button:hover {
  background-color: #fcd302;
  color: #8a181b;
}
.lets-talk-content{
  margin-top: -200px;
}
@media only screen and (max-width: 820px) {
  .lets-talk3 {
    padding-top: 450px;
    overflow: hidden;
 
    margin-top: -660px;
    background-image: url('../../images/NewAboutUs.jpg');
    background-position: bottom;
    background-size: 100% 35%;  /* Adjust the background size as needed */
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  .lets-talk-content{
    margin-top: -180px;
  }
  .lets-talk-par{
    margin-top: 80px;
    font-size: 10px;
    text-align: left;
    padding-left: 46px;
    color:#fff;
  }
  .lets-talk-title{
    margin-top: -5px;
    font-size: 24px;
    text-align: left;
    padding-left: 15px;
    color: #fff;
  }
  .lets-talk-par2{
    margin-top: -5px;
   
    font-size: 10px;
    padding-left: 50px;
    margin-bottom: -30px;
  }

}

@media only screen and (max-width: 290px) {
  .lets-talk3{
    margin-top: -622px;
    padding-top: 400px;
  }
  .lets-talk-par{
    margin-top: 80px;
    font-size: 10px;
    text-align: left;
    padding-left: 46px;
    color:#fff;
  }
  .lets-talk-title{
    margin-top: -5px;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    color: #fff;
  }
  .lets-talk-par2{
    margin-top: -5px;
    font-size: 10px;
    padding-left: 50px;
    margin-bottom: -30px;
  }
}
