
  .our-partners-title{
    text-align: center;
    margin-top: -5px;
    margin-bottom: 30px;
    color: #8a181b;
  }
.main-partners{
  
    overflow: hidden;
    margin-left: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #ededed;
 
}


.partner-images {


    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
 
  .img-container {
    flex: 1;
  }
  
  .dayoldchick,
  .feed {
    width: 100%;
    height: auto;
  }
  .our-partner-images{
    background-color: #fff;
    height: 166px;
    width: 166px;
  }
  @media only screen and (max-width: 820px) {
    .our-partner-images{
      height: 300px;
      width: 400px;
      margin-bottom: 20px;
    }
    .partner-images {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      gap: 0;
    }
    .main-partners{
      margin-bottom: 25px;
    }
    
    
  }
  @media only screen and (max-width:321px) {
    .our-partners-title{
      font-size: 24px;
      margin-left: -4px;
    }
    .our-partner-images{
      height: 130px;
      width: 200px;
      margin-bottom: 20px;
    }
    .partner-images {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      gap: 0;
    }
    .main-partners{
      margin-bottom: 25px;
    }
    
  }
