@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300;400&display=swap');
.news-top-space {
    margin-top: 20px;
  }
  
  .news-height {
    height: 50px;
  }
  
  .news-page-content {
    max-width: 1100px;
    margin-left: 300px;
    margin-right: 300px;
    color: #8a181b;
    font-family: 'Poppins', sans-serif;
  }
  
  .post-page-author {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .news-top-space2 {
    margin-top: 10px;
  }
  .svg-content{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;

  }
  .newspage-edit-btn {
    margin-right: 10px;
    text-decoration: none;
    color: #8a181b;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .newspage-edit-btn svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .news-page-delete-btn {
    background-color: #8a181b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Ubuntu';
  }
  
  .newspage-image1 {
    margin-top: 20px;
  }
  
  .newspage-image2 {
    max-width: 100%;
  }
  
  .newspage-content {
    margin-top: 20px;
    color: black;
    font-family: 'Ubuntu';
    line-height: 1.5;
    font-weight: 500;
  }

  @media only screen and (max-width:820px) {
    .news-page-content {
        max-width: 820px;
        margin-left: 10px;
        margin-right: 10px;
        color: black;
        font-family: 'Ubuntu';
      }
  }