.lets-talk-container5 {
    display: flex;
    justify-content: center;
    width: 100%;
   
   
  }
  
  .lets-talk5 {
    height: 500px;
    margin-top: -95px;
    background-image: url('../../images/OURPEOPLE_1.jpg');
    background-position: bottom;
    background-size:1600px 500px; /* Adjust the background size as needed */
    background-repeat: no-repeat;
  
  }
  