.image-collection2{
    display: flex;
    margin-left:165px
}
.image7{
    margin-left: 25px;
}
.image9{
  margin-right:25px;
  margin-top: 15px;
  color:#8a181b;
}
.image7,.image8{
    margin-top: 15px;
    margin-right: 25px;
   color: #8a181b;
}
/* CoreValues.css */

/* Add the following CSS rules to your existing file */
.image7 {
    position: relative;
    display: inline-block;
  }
  
  .image7:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image7:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
  }
  /*------------------*/
  .image8 {
    position: relative;
    display: inline-block;
  }
  
  .image8:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image8:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
  }

  /*---------------------------------*/

  .image9 {
    position: relative;
    display: inline-block;
  }
  
  .image9:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .image9:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
  }
  .teams-images{
    height: 250px;
    width: 350px;
    border-radius: 8px;
  }
  @media only screen and (max-width:820px) {
    .image-collection2{
      display: flex;
      flex-direction: column;
      margin-left:60px
    }
    .teams-images{
      height: 150px;
      width: 250px;
      border-radius: 8px;
    }
    .image7{
      margin-left: 5px;
  }
  }