@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Ubuntu&display=swap');
p{
  font-family: 'Ubuntu';
  font-weight: lighter;
}
.about-us-title{
  font-family: 'Ubuntu';
  font-weight:600;

}
.about-us-paragraph{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
  font-size: 17px;
}
.who-main{
        margin-top:-160px;
        margin-bottom:100px;
        margin-left:auto;
        margin-right:auto;
        width: 80%;
        display: flex;
        flex-direction :column;
        align-items: center;
        justify-Content: center;
        text-align: center;
        height: 100vh;
}

@media only screen and (max-width:768px) {
 .who-main {
  width: 90%;
  margin-top: 130px;
  height: 100vh;
 }
}

 @media only screen and (max-width:480px) {
  .who-main {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 260px;
    height: 100vh;
    padding: 10px;
  }
}
@media only screen and (min-width:1680px) {
  .who-main {
    width: 60%;
    margin-top: -320px;
    margin-bottom: -300px;
    height: 100vh;
    padding: 10px;
  }
}
