@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Ubuntu&display=swap');
p{
  font-family: 'Ubuntu';
  font-weight: lighter;
}
.about-us-title{
  margin-bottom: 10px;
  font-family: 'Ubuntu';
  font-weight:600;
}
.about-us-paragraph{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
  font-size: 17px;
}
.who-main{
        margin-top:-160px;
        margin-bottom:120px;
        margin-left:auto;
        margin-right:auto;
        width: 80%;
        display: flex;
        flex-direction :column;
        align-items: center;
        justify-Content: center;
        text-align: center;
        height: 100vh;
}
@media only screen and (min-width:920px){
  .who-main{
    margin-top:-120px;
    margin-bottom:-155px;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    display: flex;
    flex-direction :column;
    align-items: center;
    justify-Content: center;
    text-align: center;
    height: 100vh;
  }
}
@media only screen and (min-width:1120px){
  .who-main{
    margin-top:-120px;
    margin-bottom:-175px;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    display: flex;
    flex-direction :column;
    align-items: center;
    justify-Content: center;
    text-align: center;
    height: 100vh;
  }
}
@media only screen and (min-width:1365px){
  .about-us-title{
    margin-bottom: 17px;
  }
  .who-main{

    margin-top:-180px;
    margin-bottom:-220px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    display: flex;
    flex-direction :column;
    align-items: center;
    justify-Content: center;
    text-align: center;
    height: 100vh;
  }
}
@media only screen and (min-width:1680px) {
  .who-main {
    width: 70%;
    margin-top: -280px;
    margin-bottom: -300px;
    height: 100vh;
    padding: 10px;
  }
}
@media only screen and (max-width:768px) {
 .who-main {
  width: 90%;
  margin-top: 130px;
  margin-bottom: 1px;
  height: 100vh;
 }
}

 @media only screen and (max-width:480px) {
  .who-main {
    width: 100%;
    margin-top: -50px;
    margin-bottom: -240px;
    height: 100vh;
    padding: 10px;
  }
  
   
}

@media only screen and (max-width:361px) {
  .who-main {
    width: 100%;
    margin-top: 60px;
    margin-bottom: -60px;
    height: 100vh;
    padding: 10px;
  }
}
@media only screen and (max-width:260px) {
  .who-main {
    width: 100%;
    margin-left: -5px;
    margin-top: 270px;
    margin-bottom: 250px;
    height: 100vh;
    padding: 10px;
  }
}


