.lets-talk-container {
    display: flex;
    justify-content: center;
    width: 100%;
   
   
  }
  .lets-talk-contentt{
    margin-top: -220px;
  }
  .who-are-we-containerr{
    margin-top: -340px;
    padding-top: 60px;
  }
  .who-are-we-title{
    padding-top: 300px;
    font-size: 38px;
    text-align: left;
    padding-left: 16px;
    color: #fff;
   
  }

  .who-are-we-content{
    
    font-size: 16px;
    padding-left:50px;
    color: #fff;
  }
  
  .lets-talk2 {
    height: 500px;
    margin-top: 420px;
    background-image: url('../../images/NewAboutUs.jpg');
    background-position: bottom;
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat;
  }
  .Who{
    font-size: 42px;
    padding-left: 36px;
    color: #fff;

  }
  @media only screen and (max-width:820px) {
    .lets-talk2 {
      height:500px;
      margin-top: -290px;
      background-image: url('../../images/NewAboutUs.jpg');
      background-position: bottom;
      background-size:100% 30%; /* Adjust the background size as needed */
      background-repeat: no-repeat;
    
    }
    .who-are-we-containerr{
    
    }
    .who-are-we-title{
      font-size: 32px;
      text-align: left;
      padding-left: 16px;
      color: #fff;
    }
    .who-are-we-content{
      font-size: 12px;
      padding-left:50px;
      color: #fff;
    }
    
  }
  
