.dropdown-menu {
    z-index: 3;
    background: #fcd302;
    width: 153px;
    position: absolute;
    top: 70px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    z-index: 1;
    margin-top: -16px;
    background: #fcd302;
    cursor: pointer;
  }
  
 
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #8a181b;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
    
   
    
  
  }
  
